@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');
* {
    margin: 0;
}

body {
    /* background-image: radial-gradient(circle, #333333, #222222); */
    background-color: #24050a;
}

li {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

.debit,
.credit {
    display: block;
    margin: 0 auto;
    padding: 10px;
    gap: 25px;
    text-align: center;
    border: 1px solid black;
    width: 50%;
    border-radius: 10px;
    background-color: antiquewhite;
}

.date {
    font-size: 20px;
    text-decoration: underline;
    font-weight: thin;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
}

.input {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.inputbtn {
    margin-right: 10px;
}

label {
    font-size: 20px;
    width: 100px;
    text-align: right;
    color: white;
    margin: 5px;
}

input {
    width: 150px;
    padding: 7px;
}

.links {
    display: flex;
    gap: 15px;
    justify-content: right;
    margin-right: 30px;
    width: 100%;
    color: black;
    font-weight: bold;
}

h3 {
    background-color: navajowhite;
    font-weight: 400;
    padding: 5px 10px 0;
    margin: left 10px;
    margin-right: auto;
    border-bottom-right-radius: 10px;
}

.titles {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 100%;
    grid-area: text;
    font-family: 'Sarpanch', sans-serif;
    font-size: vmin;
    margin: 0;
    margin-top: 40px;
    color: #1d9099;
    text-shadow: 0.3vmin 0.3vmin 0 #E79C10, -0.3vmin -0.3vmin 0 #D53A33;
}

.balance {
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

.info {
    font-size: 20px;
}

.profile-el {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    padding: 10px;
    margin: 40px auto;
    text-align: center;
    border-radius: 10px;
    background-color: antiquewhite;
}

.login {
    margin-top: 100px;
}

.logbtn {
    margin-top: 0px;
}

img {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navajowhite;
    padding: 10px;
}

.box .inner {
    width: 400px;
    height: 200px;
    line-height: 200px;
    font-size: 4em;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.box .inner:first-child {
    background-color: white;
    color: darkred;
    transform-origin: right;
    transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
    background-color: black;
    color: antiquewhite;
    transform-origin: left;
    transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
    animation-delay: 2.5s;
    left: -100%;
}

@keyframes marquee {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}

.login-el {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-el p {
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

.loglink {
    border: 1px goldenrod;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(207, 145, 51);
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.loglink:hover {
    background-color: white;
    color: goldenrod;
    transition: all 200ms ease-in;
}

img {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.bank-pic {
    width: 70%;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.logInfo {
    margin: 20px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

button {
    /* width: 100px; */
    margin: 10px auto 20px;
    padding: 10px 40px;
    background-color: #1d9099;
    color: white;
    border: 1px #1d9099 solid;
    border-radius: 5px;
    font-weight: bold;
}

botton:hover {
    background-color: white;
    transition: all 200ms ease-in;
}